
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}
body {
	margin-top:15%;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	text-align:center;
	font-size:22px;
}
img {
	margin-bottom:40px;
}
