@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}

body {
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	color:white;
	background:#031010;
	border-top:6px solid #a02c2c;
	overflow:hidden;
	margin:0;
}

h1,h2,h3,h4 {
	/* no raleway without this... */
	font-weight:300;
}

img {
	margin-bottom:40px;
}

nav {
	position:absolute;
	top:6px;
	left:0;
	bottom:0;
	width:230px;
	margin:0;
	background:#333333;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-right:#444444;
}

nav h2 {
	width:100%;
	text-align:center;
}

nav ul {
	list-style-type: none;
	padding:0;
	background:#333333;
}

nav ul li {
	font-size:24px;
	padding:15px 0 15px 10px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #222222;
	cursor:pointer;
}

nav ul li:hover, nav ul li.selected {
	background:#444444;
	opacity:1 !important;

}

nav ul li:active ,nav ul li.selected {
	border-top: 1px solid #333333;
	border-bottom:none;
	padding-bottom:16px;
	box-shadow:inset 0 2px 10px #333333;
	position:relative;
	top:1px;
}

.category .healthbar {
	background:#333333;
	height:6px;
	width:90%;
	display:inline-block;
}

.category .healthbar .bar {
	height:100%;
	width:90%;
	background:#5aac5e;
}

nav .name {
	display:inline-block;
}

.alerts {
	background:#a02c2c;
	border-radius:16px;
	margin:6px;
	font-size:14px;
	padding:0 7px 4px 6px;
	float:right;
}

ul.meta li {
	opacity:0.60;
}

section {
	position:absolute;
	left:230px;
	right:0;
	bottom:0;
	top:6px;
	overflow-y:scroll;
	overflow-x:hidden;
	text-align:center;
	padding:40px;
	background:url('world.png') center center no-repeat;
	background-size:contain;
}

section > p {
	max-width:600px;
	margin:30px;
	text-align:left;
	display:inline-block;
	opacity:0.8;
}

div.panel {
	width:400px;
	margin:30px;
	text-align:left;
	display:inline-block;
	background:#444444;
	border-top:3px solid #5aac5e;
	/*box-shadow:0 0 10px #5aac5e;*/
	opacity:0.85;
}

div.panel div.status {
	float:right;
	display:inline-block;
	color:#5aac5e;
	font-size:18px;
	margin:3px 6px 3px 3px;
}

div.panel div.name {
	position:relative;
	top:-10px;
	display:inline-block;
	font-size:32px;

}

div.panel i.logo {
	padding:6px 9px 6px 6px;
	background:#5aac5e;
	margin-right:10px;
}

div.panel header {
	background:#333333;
}

div.panel p {
	margin:6px;
}

div.offline i.logo{
	background:#a02c2c;
}

div.offline {
	border-top:3px solid #a02c2c;
}

div.offline div.status {
	color:#a02c2c;
}

/* force left alignment */
div.panel.dummy {
	opacity:0;
}
