@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}

body {
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	color:white;
	background:#031010;
}

h1,h2,h3,h4 {
	/* no raleway without this... */
	font-weight:300;
}

img {
	margin-bottom:40px;
}

nav {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:230px;
	margin:0;
	background:#333333;
}

nav ul {
	list-style-type: none;
	padding:0;
}

nav ul li {
	font-size:24px;
	padding:15px 0 15px 10px;
}

nav ul li:hover {
	background:#444444;
	opacity:1 !important;
}

nav ul li.selected {
	background:#031010;
}

.category .healthbar {
	background:#333333;
	height:6px;
	width:90%;
	display:inline-block;
}

.category .healthbar .bar {
	height:100%;
	width:90%;
	background:#5aac5e;
}

nav .name {
	display:inline-block;
}

.alerts {
	display:inline;
	background:#a02c2c;
	border-radius:16px;
	font-size:14px;
	position:relative;
	top:-4px;
	left:4px;
	padding:0 7px 4px 6px;
}

ul.meta li {
	opacity:0.60;
}
