@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}

body {
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	color:white;
	background:#031010;
	border-top:6px solid #a02c2c;
	overflow:hidden;
	margin:0;
}

h1,h2,h3,h4 {
	/* no raleway without this... */
	font-weight:300;
}

nav {
	position:absolute;
	top:6px;
	left:0;
	bottom:0;
	width:230px;
	margin:0;
	background:#333333;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-right:#444444;
}

nav h2 {
	width:100%;
	text-align:center;
}

nav ul {
	list-style-type: none;
	padding:0;
	background:#333333;
}

nav ul li {
	font-size:24px;
	padding:15px 0 15px 10px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #222222;
}

nav ul li.button {
	cursor:pointer;
}

/*nav ul.buttons li:hover, */nav ul li.selected {
	background:#444444;
	opacity:1 !important;

}

nav ul li.button:active ,nav ul li.selected {
	border-top: 1px solid #333333;
	border-bottom:none;
	padding-bottom:16px;
	box-shadow:inset 0 2px 10px #333333;
	position:relative;
	top:1px;
}

.category .healthbar {
	background:#333333;
	height:6px;
	width:0%;
	display:inline-block;
}

.category .healthbar .bar {
	height:100%;
	width:90%;
	background:#5aac5e;
}

nav .name {
	display:inline-block;
}

.alerts {
	background:red;
	border-radius:16px;
	margin:3px 9px 5px 5px;
	font-size:14px;
	padding:4px 8px 4px 7px;
	float:right;
	font-family:sans-serif;
	font-weight:bold;
}

.tab .value {
	margin:7px 15px 0 0;
	float:right;
	font-family:sans-serif;
	font-size:0.7em;
	display:none;
}


ul.meta li {
	opacity:0.60;
}

section {
	position:absolute;
	left:230px;
	right:0;
	bottom:0;
	top:6px;
	overflow-y:scroll;
	overflow-x:hidden;
	text-align:center;
	padding:40px;
	background:url('world.png') center center no-repeat;
	background-size:contain;
}


div.panel {
	margin:30px;
	text-align:left;
	display:inline-block;
	background:rgba(68,68,68,0.6);
	vertical-align:top;
	min-height:190px;
	border-top:5px solid #444444;
}

div.panel div.status {
	float:right;
	display:inline-block;
	color:#5aac5e;
	font-size:18px;
	margin:3px 6px 3px 3px;
	text-transform:uppercase;
}

.Saas p {
	margin:6px;
	opacity:0.7;
	font-size:0.8em;
	font-weight:100;
	font-family:sans-serif;
}

/* TODO: base widget/panel class inherited by Hacker and Saas */

div div.error {
	background:red;
	color:white;
	padding:5px;
	font-weight:bold;
	text-align:center;
	display:none;
	font-size:0.8em;
}
div div.error:before {
	content: "\f071";
	font-family: FontAwesome;
	margin:5px;
}

div.fail div.error {
	display:block;
}

div.pass {
	border-top:5px solid #5aac5e;
}

div.fail {
	border-top:5px solid red;
	outline:1px solid red;
}

/* force left alignment */
div.panel.dummy {
	opacity:0;
}

.health {
	width:93%;/*??*/
	height:12px;
	margin-top:8px;
	border:1px solid #222222;
	background:red;
	display:none;
}

.health > .bar {
	width:90%;
	height:100%;
	background:#5aac5e;
}


.template {
	display:none !important;
}


.Hacker img {
	width:160;
	height:160;
}

.Hacker p {
	margin:5px 0 10px 0;

}

.Hacker .username {
	font-size:1.4em;
}

.Hacker .links {
	background:#333333;
	padding:5px 0 5px 0;
	margin:5px 0 0 0;
}

.Hacker .links > i { opacity:0.6; }
.Hacker .links > i:hover { opacity:1; }
.Hacker .links > i:active { position:relative; top:1px; }


.About img {
	margin-bottom:40px;
}

.About p {
	max-width:600px;
	margin:30px;
	text-align:left;
	display:inline-block;
	opacity:0.8;
	font-family:sans-serif;
	font-weight:100;
}

.splash {
	padding-top:20%;
	text-align:center;
	font-size:2em;
	text-transform:uppercase;
	background:#031010;
	position:absolute;
	top:0;right:0;left:0;bottom:0;
	display:none;
}

div.blinkenlight {
	float:right;
	margin:5px;
	width:8px;
	height:8px;
	background:#555;
}

div.blinkenlight.on {
	background:white;
	box-shadow: 0 0 5px #dddddd;
}

div.Saas {
	width:330px;
}

div.Saas div.name {
	position:relative;
	top:-10px;
	display:inline-block;
	font-size:32px;

}

div.Saas i.logo {
	padding:10px;
	margin-right:10px;
}

div.panel header {
	background:#333333;
}

.Hacker {
	width:160px;
	text-align:center!important;
}

.Server {
	width:600px;
}

.Server header {
	float:left;
	height:170px;
	text-align:center;
	width:160px;
	padding-top:50px;
}

.Server table {
	font-size:0.7em;
	margin:10px;
	margin-top:20px;
	border-collapse: separate;
	border-spacing:12px;
}

.Server table th {
	padding-left:10px;
}

.Server .limit {
	font-size:0.7em;
}

.Server .bar {
	width:90px;
	height:1px;
}

.Server table .value {
	width:80px;
}

.Server td {
	font-family:sans-serif;
	font-weight:100;
}

.Server.fail table {
	margin:0px;
}
