@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}

body {
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	color:white;
	background:#031010;
	border-top:6px solid #a02c2c;
	overflow:hidden;
	margin:0;
}

h1,h2,h3,h4 {
	/* no raleway without this... */
	font-weight:300;
}

nav {
	position:absolute;
	top:6px;
	left:0;
	bottom:0;
	width:230px;
	margin:0;
	background:#333333;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-right:#444444;
}

nav h2 {
	width:100%;
	text-align:center;
}

nav ul {
	list-style-type: none;
	padding:0;
	background:#333333;
}

nav ul li {
	font-size:24px;
	padding:15px 0 15px 10px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #222222;
}

nav ul.buttons li {
	cursor:pointer;
}

/*nav ul.buttons li:hover, */nav ul li.selected {
	background:#444444;
	opacity:1 !important;

}

nav ul.buttons li:active ,nav ul li.selected {
	border-top: 1px solid #333333;
	border-bottom:none;
	padding-bottom:16px;
	box-shadow:inset 0 2px 10px #333333;
	position:relative;
	top:1px;
}

.category .healthbar {
	background:#333333;
	height:6px;
	width:0%;
	display:inline-block;
}

.category .healthbar .bar {
	height:100%;
	width:90%;
	background:#5aac5e;
}

nav .name {
	display:inline-block;
}

.alerts {
	background:#a02c2c;
	border-radius:16px;
	margin:6px;
	font-size:14px;
	padding:0 7px 4px 6px;
	float:right;
}

ul.meta li {
	opacity:0.60;
}

section {
	position:absolute;
	left:230px;
	right:0;
	bottom:0;
	top:6px;
	overflow-y:scroll;
	overflow-x:hidden;
	text-align:center;
	padding:40px;
	background:url('world.png') center center no-repeat;
	background-size:contain;
}


div.panel {
	width:300px;
	margin:30px;
	text-align:left;
	display:inline-block;
	background:#444444;
	opacity:0.8;
	vertical-align:top;
	min-height:190px;
	border-top:5px solid #444444;
}

div.panel.pass {
	border-top:5px solid #5aac5e;
}

div.panel.fail {
	border-top:5px solid red;
}

div.panel div.status {
	float:right;
	display:inline-block;
	color:#5aac5e;
	font-size:18px;
	margin:3px 6px 3px 3px;
	text-transform:uppercase;
}

div.panel div.name {
	position:relative;
	top:-10px;
	display:inline-block;
	font-size:32px;

}

div.panel i.logo {
	padding:10px;
	margin-right:10px;
}

div.panel header {
	background:#333333;
}

div.panel p {
	margin:6px;
	opacity:0.7;
	font-size:0.8em;
}

div.panel div.error {
	background:red;
	color:white;
	padding:5px;
	font-weight:bold;
	text-align:center;
	display:none;
	font-size:0.8em;
}
div.panel div.error:before {
	content: "\f071";
	font-family: FontAwesome;
	margin:5px;
}

div.offline {
	margin-top: 5px solid red;
}

div.offline div.status {
	color:red;
}

/* force left alignment */
div.panel.dummy {
	opacity:0;
}

.health {
	width:93%;/*??*/
	height:12px;
	margin-top:8px;
	border:1px solid #222222;
	background:#a02c2c;
	display:none;
}

.health > .bar {
	width:90%;
	height:100%;
	background:#5aac5e;
}


.template {
	display:none !important;
}

.Hacker {
	width:160px;
	margin:30px;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	background:rgba(68,68,68,0.4);
}

.Hacker img {
	width:160;
	height:160;
}

.Hacker p {
	margin:5px 0 10px 0;
}

.Hacker .username {
	font-size:1.4em;
}

.Hacker .links {
	background:#333333;
	padding:5px 0 5px 0;
	margin:5px 0 0 0;
}

.Hacker .links > i { opacity:0.6; }
.Hacker .links > i:hover { opacity:1; }
.Hacker .links > i:active { position:relative; top:1px; }


.About img {
	margin-bottom:40px;
}

.About p {
	max-width:600px;
	margin:30px;
	text-align:left;
	display:inline-block;
	opacity:0.8;
}

.splash {
	padding-top:520px;
	text-align:center;
	font-size:2em;
	text-transform:uppercase;
	background:url('darksky-dark-bg.svg') #031010 no-repeat center 120px;
	position:absolute;
	top:0;right:0;left:0;bottom:0;
	display:none;
}
