
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(raleway.woff) format('woff');
}
body {
	margin-top:15%;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size:22px;
	color:white;
	background:#001F3F;
}
img {
	margin-bottom:40px;
}


ul#categories {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:330px;
	padding-left:50px;
	margin:0;
	background:#0074D9;
}

ul#categories li {
	/*direction:ltr;*/
	margin-left:40px;
	margin-bottom:46px;
}

ul#categories li:hover {
	border-right:5px solid #7FDBFF;
}

.category h2 {
	margin:30px 0 0 0;
}

.category .healthbar {
	background:#FF4136;
	height:6px;
	width:90%;
	display:inline-block;
}

.category .healthbar .bar {
	height:100%;
	width:90%;
	background:#2ECC40;
}
